<!DOCTYPE html>
<html>
<head>
  <title>Hausverwaltung</title>
  <meta charset="utf-8"/>
  <meta name="description" content="HPS"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!-- 3rd CSS -->
  <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="css/3rd/bootstrap.css">
  <!-- Own CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- 3rd JS -->
  <script type="text/javascript" src="js/3rd/jquery-3.6.0.js"></script>
  <script type="text/javascript" src="js/3rd/bootstrap.bundle.js"></script>
  <script type="text/javascript" src="js/3rd/vue.js"></script>
  <!-- Own JS -->


</head>
<body>
  <div id="app">
    <!-- Header -->  
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3 px-md-4 mb-3 bg-body border-bottom">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">{{title}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler01" aria-controls="navbarToggler01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pt-4" id="navbarToggler01">          
          <form class="d-flex ms-lg-auto">
            <input v-model="searchQuery" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
          </form>        
          <button type="button" class="btn btn-outline-secondary mt-3 mt-lg-0 ms-lg-3" data-bs-toggle="modal" data-bs-target="#houseModal">
            Haus hinzufügen 
          </button>
        </div>
      </div>
    </nav>
    <!-- /Header -->
    
    <div class="container mt-5">
      
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Haus</th>
            <th scope="col">Kapazität</th>
            <th scope="col">Freie Plätze</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="houses-overview">
          <template v-for="(house,index) in filteredHouses">
            <!-- <house-row :house="house" :index="index"></house-row> -->
            <tr :data-idx="index" :class="{full: house.space == 0}">
              <th scope="row" class="nr">{{index+1}}</th>
              <td scope="row" class="name">{{house.name}}</td>
              <td scope="row" class="capacity">{{house.capacity}}</td>
              <td scope="row" class="space"><input v-model.number="house.space" @change="setHouseVal(index)" type="number" min="0" class="form-control p-0 border-0"></td>
              <td scope="row" class="edit">
                <i @click="removeHouse(index)" class="bi bi-trash edit-btn"></i>
                <i @click="editHouse(index)" class="bi bi-pencil edit-btn ms-lg-2" data-bs-toggle="modal" data-bs-target="#houseEditModal"></i>
              </td>
            </tr>
          </template>
        </tbody>
      </table>    
    </div>

  </div>
  
  <!-- Modal AddHouse -->
  <div id="houseModals">

    <div class="modal fade" id="houseModal" tabindex="-1" aria-labelledby="houseModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Haus hinzufügen</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="row g-3">
              <div class="col-md-12">
                <label class="form-label">Name des Hauses</label>
                <input v-model="name" type="text" class="form-control" placeholder="">
              </div>
              <div class="col-md-4">
                <label class="form-label">PLZ</label>
                <input v-model="zip" type="text" class="form-control" placeholder="">
              </div>
              <div class="col-md-8 mb-4">
                <label class="form-label">Ort</label>
                <input v-model="city" type="text" class="form-control" placeholder="">
              </div>
              <div class="col-md-4">
                <label class="form-label">Anzahl Betten</label>
                <input v-model.number="capacity" type="number" min="0" class="form-control">
              </div>
              <div class="col-md-4">
                <label class="form-label">Freie Plätze</label>
                <input v-model.number="space" type="number" min="0" class="form-control">
              </div>             
            </form>
          </div>
          <div class="modal-footer">
            <button @click="reset" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
            <button @click="addHouse" type="button" class="btn btn-primary">Hinzufügen</button>
          </div>        
        </div>
      </div>
    </div>
    <!-- /Modal AddHouse -->
    
    <!-- Modal EditHouse -->
    <div class="modal fade" id="houseEditModal" tabindex="-1" aria-labelledby="houseEditModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Haus bearbeiten</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="row g-3">
              <div class="col-md-12">
                <label class="form-label">Name des Hauses</label>
                <input v-model="name" type="text" class="form-control" placeholder="">
              </div>
              <div class="col-md-4">
                <label class="form-label">PLZ</label>
                <input v-model="zip" type="text" class="form-control" placeholder="">
              </div>
              <div class="col-md-8 mb-4">
                <label class="form-label">Ort</label>
                <input v-model="city" type="text" class="form-control" placeholder="">
              </div>
              <div class="col-md-4">
                <label class="form-label">Anzahl Betten</label>
                <input v-model.number="capacity" type="number" min="0" class="form-control">
              </div>
              <div class="col-md-4">
                <label class="form-label">Freie Plätze</label>
                <input v-model.number="space" type="number" min="0" class="form-control">
              </div>             
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
            <button @click="updateHouse" type="button" class="btn btn-primary" data-bs-dismiss="modal">Speichern</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /Modal EditHouse -->

  </div>
          
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>